body {
    background-color: black;
    color: white;
}

.screen {
    width: 100%;
    height: 100%;
}

.platzhalter {
    height: 100%;
    width: auto;
    position: relative;
}
#linker_platzhalter {
    float: left;
}
#rechter_platzhalter {
    float: right;
}

/* Die Simulation des Handybildschirms */
.handy-screen {
    position: fixed;
    height: 100%;
    padding-right: 57%; /* TODO 57% der Höhe */
}

/* Der Musterkasten */
.grid-container {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: grey;
    padding: 10px;
}

/* Die Einzelnen Rasterelemente? */
.grid-container > div {
    position: relative;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/* Die Punkte des Musterfeldes */
.point {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: aqua;
    height: 15px;
    width: 15px;
    margin: -7.5px 0 0 -7.5px;
}