body {
    background-color: black;
    color: white;
}

.handy-port {
    position: fixed;
    height: 100%;
    width: 57%; /* TODO 57% der Höhe */
}

.grid-container {
    position: fixed;
    top: 75%;
    left: 50%;
    margin-top: -50px;
    margin-left: 100px;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: grey;
    padding: 10px;
    transform: translate(-50%,-50%);
}

.grid-container > div {
    position: relative;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: aqua;
    height: 15px;
    width: 15px;
    margin: -7.5px 0 0 -7.5px;
}

.pointColour {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: red;
    height: 15px;
    width: 15px;
    margin: -7.5px 0 0 -7.5px;
}
