/* Responsive Design  */
main {
  background-image: url(portal_3.2.png);
  background-repeat: no-repeat;
  height: 100%;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}


/**
work
 */
@media (min-aspect-ratio: 9/16) {
  /* Legt das Seitenverhältnis an einer gewissen Breite fest */
  main {
    width: 56vh;
    margin: auto;
    text-align: center;
  }
}

/* Muster Box */
.grid-container {
  position: fixed;
  top: 100%;
  left: 50%;
  margin-top: -15vh; /* halbe Breite/Höhe */
  width: 30vh;
  height: 30vh;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: grey;
  transform: translate(-50%, -50%);
  z-index: 4;
}

/* Ende Responsive Design */


.grid-container > div {
  position: relative;
  text-align: center;
  padding: 1em 0;
  font-size: 1em;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: aqua;
  height: 30%;
  width: 30%;
  margin: -15% 0 0 -15%;
}

.pointColour {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: red;
  height: 30%;
  width: 30%;
  margin: -15% 0 0 -15%;
}


.spellAnimation {
  width: 5vh;
  height: 5vh;
  margin: auto;
  position: sticky;
  border-radius: 50%;
  background-color: blue;
  visibility: hidden;
}


#enemyAttack {
  padding-top: 0vh;
  width: 5vh;
  height: 5vh;
  margin: auto;
  position: relative;
  border-radius: 50%;
  visibility: hidden;
  background-color: red;
  z-index: 4;
}


.myEnemy {
  padding-top: 10vh;
  margin: auto;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  z-index: 8;
  border-width: 0vh 10vh 20vh 10vh;
  border-color: transparent transparent #ff0000 transparent;

}

.boeseAugen1 {
  position: relative;
  width: 0px;
  height: 0px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  transform: translate(-120%, 270%);
  border-style: solid;
  border-width: 0vh 2.5vh 3vh 0vh;
  z-index: 10;
  border-color: transparent transparent #200022 transparent;
}

.boeseAugen2 {
  position: relative;
  width: 0px;
  height: 0px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  transform: translate(20%, 170%);
  border-style: solid;
  border-width: 0vh 0vh 3vh 2.5vh;
  z-index: 10;
  border-color: transparent transparent #200022 transparent;
}

#mainMenu { /* TODO make it responisve*/
  position: center;
  font-size: 10vh;
}

#gameStart {
  top: 30vh;
  margin-top: 10vh;
}


#gameMain {
  visibility: hidden;
}


h1 {
  position: absolute;
  font-size: 4vh;
  top: 1vh;
}

h2 {
  position: absolute;
  font-size: 4vh;
  top: 20vh;
}

